.newswindow{
    width: 70vw;
    height: 50vh;
}
body{
    padding: 0px;
    margin: 0px;
}
.mainheader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-left: 10px;
    
}
.pageheader{
    background-size: cover;
    height: 100px;
}

a{
    padding-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    background: none;
    padding:  10px; 
    text-decoration: none;
    border-radius: 10px;
    color: black;
}
a:hover{
    background: none;
}
li{
    display: inline;
    
}
.menu{
    margin-top: 50px;
}



.footer{
    display: flex;
    flex-direction: row;
    float: none;
    border: 2px solid grey;
    
}
.footeritem{
padding-right: 300px;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.hej{
    padding-right: 0px;
}
  